

%header
  %h1
    %a.title-block{:href => "http://nodeknockout.com"} Node Knockout
  %h2.subhead {2013}


%section#top
  .container
    .sticky
      %nav.top-bar
        %ul.title-area
          %li registration
          %li NKO2013
          %li Prizes
          %li sponsors
          %li rules
          %li resources
          %li blog


    %h3.mini
      Main event

    .dates
      Sep 6-8 <span>•</span> 2013

    #register
      %a.btn
        Register

    %h1.heading About NKO2013
    %p Node Knockout is a 48-hour hackathon featuring node.js. It's an online, virtual competition with contestants worldwide.