

%header
    .container
        %h1
            %a.title-block{:href => "http://nodeknockout.com"} Node Knockout
        %h2.subhead {2013}


.container.back-home-icon
    %a{:href=>'#'}
        %i.icon-home
        Home

%section#top
    .container
        .row
            .span5

                %h1 Sponsors
                %p
                    Sponsoring Node Knockout is an outstanding way to support the NodeJS community while building awareness about your product or service.   Hackathons are excellent ways to network and build relationships to the future builders of your platforms and communities  you create.

                %h1 Benefits to Sponsors:
                %ul
                    %li Placement on website for developers, press, and other industry contacts
                    %li Guest Blog opportunities 
                    %li Network with influential judging community
                    %li Prominent placement in relevant email newsletters
                    %li Provides chances for contestants to use your products during the competition
                    %li Chance to give back to the burgeoning NodeJS community.


            .span5.offset2.grey-box
                %h2 Key Statistics About NKO TO Date
                %p.big-text CONTESTANTS: 813
                %p.big-text TEAMS: 397
                %p.big-text ENTRIES:  167

        .grey-box.interested-in-sponsoring
            %h1 Interested in Sponsoring? Contact us Here
            .divider
            %h1.phone
                %i.icon-phone
                (650) 352 3810

        .row.platinum-sponsorship
            .span9
                %h1 Platinum Sponsorshop

                %p
                    A description of how awesome each platinum sponsor goes
                    here: Cras mattis consectetur purus sit amet fermentum. Curabitur blandit
                    tempus porttitor. Vivamus sagittis lacus vel augue laoreet rutrum faucibus
                    dolor auctor. Maecenas faucibus mollis interdum.
                    Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec sed odio dui. Curabitur blandit tempus porttitor.

            .span3
                .sponsorship-image
                    %img{:src=>'images/platinum.png'}

        .row
            .span12
                %h1 A La Carte Sponsorships

        .divider

        .row.ala-carte-sponsorship
            .span3
                .sponsorship-image
                    %img{:src=>'images/service.png'}
            .span9
                %h1 Offering your service to contestants:  $500

                %p
                    During the competition, contestants will be looking for infrastructure and
                    software as a service products to accelerate their projects. They need anything
                    from databases and fast key-value stores to message queues and continuous
                    integration.

                %p
                    Offering your service to contestants during the competition and
                    judging is a great way to get developers using your product.

                %p
                    When you sponsor a service, we will promote it to developers for the
                    competition and work with you to ensure that developers are able to use the
                    service during the competition and judging.

                %p
                    In addition, if you provide an article about how to get started using your
                    service, we will publish it on our blog. Here's an example from last year.


        .divider

        .row.ala-carte-sponsorship
            .span3
                .sponsorship-image
                    %img{:src=>'images/joblisting.png'}
            .span9
                %h1 Posting a Job / Gig:  $500
                %p
                    Want to let Node Knockout participants know that you're hiring? Then get a spot
                    on our job list. Participants will receive an email after the competition with
                    information about the available jobs.
                %p
                    In addition, any expert judges from your
                    company will have a badge on their votes that lets participants know they are
                    hiring. This is a great way to start a relationship with developers who may be
                    looking for new opportunities.

        .divider

        .row.ala-carte-sponsorship
            .span3
                .sponsorship-image
                    %img{:src=>'images/prize.png'}
            .span9
                %h1 Sponsoring a Prize:  $500

                %p
                    The prize page is one of the most visted pages on the website.

                %p
                    If you've got a product that contestants would love to use after they're done
                    coding, what better way to promote it than awarding it as a prize to winners?


                %p
                    When you sponsor a prize, we'll work with you to get the prize that you're
                    providing on the prize page (example prizes from last year).
